.sideBarContainer{
    background-color: black;
    width: 200px;
    height: 95vh;
    
    
}
.sideBarContainer .h3{
    font-size: 50px;
    margin-left: 4px;
    color: white;
}
.sideBarContainer nav ul{
    margin-top: 25px;
}
.sideBarContainer nav ul li{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding:40px 5px 40px 5px;

   
}
.sideBarContainer nav ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 17px;
    color: white;
}